body {
    background-color: rgb(255, 249, 238);
}

.navbar {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 18px;
    padding-left: 15px;
}


.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 li {
    list-style: none;
    display: inline-block;
}

li a {
    color: #ff2772;
    font-size: 30px;
    font-weight: bold;
    margin-right: 25px;
}

.navbar img{
	width:40px;
	height:50px;
}




.dropdown {
  display: inline-block;
  position: relative;
}
header {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 65px;
    font: bold;
    text-shadow: 2px 2px bisque;
}


button1{
  border:none;
  background-color: black;
  color:#ff2772;
  border-radius:5px;
  font-size: 32px;
  font:bold;
  padding:5px 8px;
  cursor:pointer;
}

button:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  font-size:28px;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
ul {
    margin: 5px;
    padding: 0;
    list-style: none;
    height: 45px;
    line-height: 45px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    align-items: center;
}




.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1rem;
}

#search-container input {
    background-color: transparent;
    width: 25%;
    border-bottom: 3px solid #4f1919;
    padding: 0.5em 0.5em;
    color: black;
    font-size: 22px;
}

#search-container input:focus {
    border-bottom-color: #ff2772;
}

#search-container button {
    padding: 0.4em 0.4em;
    margin: 0.1em;
    background-color: darkturquoise;
    color: white;
    border-radius: 5px;
    margin-top: 0.5em;
    font-size: 28px;
}

a {
    display: block;
    padding: 0 28px;
    color: #ff2772;
    text-decoration: none;
}

.a:hover {
    background: (24deg, #4f1919);
}

.active a {
    background-color: deeppink, black;
}

marquee {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ff2772;
}

.card {
    box-shadow: 0 4px 8px 0;
    border: 2px solid #ccc;
    max-width: 300px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: white;
    left-margin:5px;
    right-margin:5px;
}

.card-container {
    width: 100%;
    height: fit-content;
    align-items: center;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
   
}


img {
    height: 180px;
}
p {
    color:white;
    font-size: 22px;
    font-weight: bold;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    color: yellow;
    border: 3px solid yellow;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button {
    padding: 10px;
    background-color: black;
    border: 2px solid deeppink;
    border-radius: 45px;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px deeppink;
}

.hr {
    color: #4f1919;
    size: 1px;
}

div.footer {
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    padding: 50px 100px;
    background: black;
    display: table;
}

.column {
    float: left;
  
}

.left {
    margin-right: 4px;
    margin-left: 27px;
}

.middel {
    margin-right: 4px;
    margin-left: 28px;
}

.right {
    margin-right: 4px;
    margin-left: 6px;
}

.div.footer.h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

.div.footer.li.a {
    color: white;
}